.form-total{
    display: block;
    
}
.nombres{
   display: flex;
   flex-direction: column;
   align-items:flex-start;
   margin: 1rem;
}
.correo{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 1rem;
 }
 .mensaje{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 1rem;
 }
.mensaje input{
width: 200px;
height: 50px;
}